In [1]:
import numpy as np
import pandas as pd

In [2]:
mt_location = '/home/hatef/Downloads/saman/MT_cleaned.csv'
vt_location = '/home/hatef/Downloads/saman/VT_cleaned.csv'
montana_stat_location = '/home/hatef/Downloads/saman/montana_stats.csv'

In [3]:
mt_dataset = pd.read_csv(mt_location)
vt_dataset = pd.read_csv(vt_location)

/home/hatef/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (25,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/home/hatef/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
mt_dataset.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,lon,ethnicity,city,out_of_state,vehicle_year,vehicle_make,vehicle_model,vehicle_style,search_reason,stop_outcome_raw
0,MT-2009-00001,MT,2009-01-01,02:10,CASCADE,Cascade County,30013.0,US 89 N MM10 (SB),NaN,F,...,-111.802932,N,NaN,False,1994,FORD,EXPLORER,SPORT UTILITY,NaN,"TRAFFIC CITATION,WARNING"
1,MT-2009-00002,MT,2009-01-02,11:34,MISSOULA,Missoula County,30063.0,HWY 93 SO AND ANNS LANE S/B,NaN,M,...,-114.081142,N,NaN,False,1996,GMC,TK,TRUCK,NaN,"INFFRACTION ARREST,WARNING"
2,MT-2009-00003,MT,2009-01-03,11:36,MISSOULA,Missoula County,30063.0,P007 HWY 93 MM 77 N/B,NaN,M,...,-114.073505,N,NaN,False,1999,GMC,YUKON,SPORT UTILITY,NaN,INFFRACTION ARREST
3,MT-2009-00004,MT,2009-01-04,10:33,MISSOULA,Missoula County,30063.0,P007 HWY 93 MM 81 S/B,NaN,F,...,-114.079027,NaN,NaN,False,2002,HOND,CR-V,SPORT UTILITY,NaN,INFFRACTION ARREST
4,MT-2009-00005,MT,2009-01-04,10:46,MISSOULA,Missoula County,30063.0,P007 HWY 93 MM 81 N/B,NaN,M,...,-114.079150,NaN,NaN,False,1992,TOYT,TERCEL,SEDAN,NaN,INFFRACTION ARREST

In [5]:
vt_dataset.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,driver_race,violation_raw,violation,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,officer_id
0,VT-2010-00001,VT,2010-07-01,00:10,East Montpelier,Washington County,50023.0,COUNTY RD,MIDDLESEX VSP,M,...,White,Moving Violation,Moving violation,False,No Search Conducted,NaN,False,Citation,False,-1.562157e+09
1,VT-2010-00002,VT,2010-07-01,00:10,NaN,NaN,NaN,COUNTY RD; Fitch Road,MIDDLESEX VSP,F,...,White,Externally Generated Stop,Other,False,No Search Conducted,NaN,False,Arrest for Violation,True,-1.562157e+09
2,VT-2010-00003,VT,2010-07-01,00:10,NaN,NaN,NaN,COUNTY RD; Fitch Road,MIDDLESEX VSP,F,...,White,Externally Generated Stop,Other,False,No Search Conducted,NaN,False,Arrest for Violation,True,-1.562157e+09
3,VT-2010-00004,VT,2010-07-01,00:11,Whiting,Addison County,50001.0,N MAIN ST,NEW HAVEN VSP,F,...,White,Moving Violation,Moving violation,False,No Search Conducted,NaN,False,Arrest for Violation,True,-3.126844e+08
4,VT-2010-00005,VT,2010-07-01,00:35,Hardwick,Caledonia County,50005.0,i91 nb mm 62,ROYALTON VSP,M,...,White,Moving Violation,Moving violation,False,No Search Conducted,NaN,False,Written Warning,False,9.225661e+08

In [6]:
mt_dataset.columns

Index(['id', 'state', 'stop_date', 'stop_time', 'location_raw', 'county_name',
       'county_fips', 'fine_grained_location', 'police_department',
       'driver_gender', 'driver_age_raw', 'driver_age', 'driver_race_raw',
       'driver_race', 'violation_raw', 'violation', 'search_conducted',
       'search_type_raw', 'search_type', 'contraband_found', 'stop_outcome',
       'is_arrested', 'lat', 'lon', 'ethnicity', 'city', 'out_of_state',
       'vehicle_year', 'vehicle_make', 'vehicle_model', 'vehicle_style',
       'search_reason', 'stop_outcome_raw'],
      dtype='object')

# 1. The proportion of traffic stops in MT involving male drivers?
    1. extract only driver_gender column from dataframe
    2. calculate the proportion

In [7]:
gender_stats = mt_dataset['driver_gender'].value_counts(dropna=False)/len(mt_dataset['driver_gender'])
gender_stats

M      0.674975
F      0.324881
NaN    0.000144
Name: driver_gender, dtype: float64

In [8]:
print(f"The proportion of male drivers is: {gender_stats['M']}")

The proportion of male drivers is: 0.6749749732765495

# 2. Factor increase in a traffic stop arrest likelihood in MT from OOS plates?

In [9]:
arrest_oos = mt_dataset[['is_arrested', 'out_of_state']].dropna()

In [10]:
arrest_oos.head()

   is_arrested out_of_state
0        False        False
1         True        False
2         True        False
3         True        False
4         True        False

In [11]:
prob_arrest = arrest_oos['is_arrested'].sum()/len(arrest_oos['is_arrested'])
print(f'probability of arrest: {prob_arrest}')

probability of arrest: 0.020791814914086583

In [12]:
arrest_given_oos = arrest_oos[arrest_oos['out_of_state'] == True]
arrest_given_oos.head()

    is_arrested out_of_state
20        False         True
25        False         True
42        False         True
51         True         True
52        False         True

In [13]:
prob_arrest_given_oos = arrest_given_oos['is_arrested'].sum()/len(arrest_given_oos['is_arrested'])
print(f'probability of arrest given be out of state: {prob_arrest_given_oos}')

probability of arrest given be out of state: 0.02390481288149243

In [14]:
print(f'factor increase: {(prob_arrest_given_oos / prob_arrest - 1)*100} percent')

factor increase: 14.97222815934538 percent

# a. Chi-Squared traffic stop arrest test statistic
##  در این تست می خواهیم بررسی کنیم که آیا توقیف کردن ربطی به خارج از ایالت بودن دارد یا خیر

### فرض صفر ما این است که این دوتا هیچ ربطی به هم ندارند

In [15]:
significance_level = 0.05
arrest_true_oos_true   = arrest_oos.loc[(arrest_oos['is_arrested'] == True) & (arrest_oos['out_of_state'] == True)]
arrest_true_oos_false  = arrest_oos.loc[(arrest_oos['is_arrested'] == True) & (arrest_oos['out_of_state'] == False)]
arrest_false_oos_true  = arrest_oos.loc[(arrest_oos['is_arrested'] == False) & (arrest_oos['out_of_state'] == True)]
arrest_false_oos_false = arrest_oos.loc[(arrest_oos['is_arrested'] == False) & (arrest_oos['out_of_state'] == False)]

In [16]:
table_obs = np.array([[len(arrest_true_oos_true), len(arrest_true_oos_false)],
                      [len(arrest_false_oos_true), len(arrest_false_oos_false)]])
table_obs

array([[  4868,  12190],
       [198773, 604588]])

In [17]:
import scipy.stats as scs

In [18]:
p_value = scs.chi2_contingency(table_obs)[1]
p_value

7.773353035854224e-30

In [19]:
if (p_value < significance_level):
    print('null hypothesis is rejected, there is a relationship between arrest and OOS')
else:
    print('we can not reject null hypothesis')

null hypothesis is rejected, there is a relationship between arrest and OOS

# 3. The proportion of traffic stops in MT involving speeding violations?

In [20]:
violation_speed = mt_dataset['violation'].value_counts(dropna=False)
violation_speed.head(10)

Speeding                      336980
License,Speeding               58572
Paperwork,Speeding             46513
Lights                         42809
License,Paperwork,Speeding     28708
Safe movement                  26136
License                        20602
Seat belt,Speeding             16473
Registration/plates            15988
License,Lights                 12442
Name: violation, dtype: int64

In [21]:
speed_violation_proportion = mt_dataset['violation'].str.contains(r'Speeding').sum()/len(mt_dataset['violation'])

In [22]:
print(f"The proportion of traffic stops in MT involving speeding violations: {speed_violation_proportion}")

The proportion of traffic stops in MT involving speeding violations: 0.6580998111785223

# 4. Factor increase in traffic stop DUI likelihood in MT over VT:
## assumption: violation is only DUI

In [23]:
mt_dui_df = mt_dataset[mt_dataset['violation'] == 'DUI']
vt_dui_df = vt_dataset[vt_dataset['violation'] == 'DUI']

In [24]:
print(f'MT DUI traffic stop length: {len(mt_dui_df)}')
print(f'VT DUI traffic stop length: {len(vt_dui_df)}')

MT DUI traffic stop length: 1379
VT DUI traffic stop length: 749

In [25]:
# we have no nan in violation column
prob_mt_dui = len(mt_dui_df)/len(mt_dataset)
prob_vt_dui = len(vt_dui_df)/len(vt_dataset)

print(f'factor increase in traffic stop DUI likelihood in MT over VT: {(prob_mt_dui/prob_vt_dui - 1)*100} %')

factor increase in traffic stop DUI likelihood in MT over VT: -36.78939220769172 %

# 5. The average manufacture year of vehicles stopped in MT in 2020?

In [26]:
stop_manufacture = mt_dataset[['stop_date', 'vehicle_year']].dropna()
# drop non-numeric year
stop_manufacture = stop_manufacture[stop_manufacture['vehicle_year'].apply(lambda x: str(x).isnumeric())]
# convert numeric year string to float
stop_manufacture['vehicle_year'] = stop_manufacture['vehicle_year'].apply(lambda x:float(x))
year = '2020'
stop_manufacture.head()

    stop_date  vehicle_year
0  2009-01-01        1994.0
1  2009-01-02        1996.0
2  2009-01-03        1999.0
3  2009-01-04        2002.0
4  2009-01-04        1992.0

In [27]:
stop_manufacture.tail()

         stop_date  vehicle_year
825102  2016-12-31        1995.0
825103  2016-12-31        1999.0
825104  2016-12-31        1993.0
825105  2016-12-31        1996.0
825106  2016-12-31        1997.0

In [28]:
# we have no stop in 2020
stop_in_2020 = stop_manufacture[stop_manufacture['stop_date'].str.contains(year)]
stop_in_2020.head()

Empty DataFrame
Columns: [stop_date, vehicle_year]
Index: []

In [29]:
print(f"The average manufacture year of vehicles stopped in MT in 2020: {stop_in_2020['vehicle_year'].mean()}")

The average manufacture year of vehicles stopped in MT in 2020: nan

In [30]:
# let's examine 2010
stop_in_2010 = stop_manufacture[stop_manufacture['stop_date'].str.contains('2010')]
stop_in_2010.head()

        stop_date  vehicle_year
18434  2010-01-01        1999.0
18435  2010-01-01        2005.0
18436  2010-01-01        2001.0
18437  2010-01-01        2001.0
18438  2010-01-01        2008.0

In [31]:
print(f"The average manufacture year of vehicles stopped in MT in 2010: {stop_in_2010['vehicle_year'].mean()}")

The average manufacture year of vehicles stopped in MT in 2010: 2001.5194096617815

### in this section we predict the average manufacture year of vehicles stopped in MT in 2020 using Linear regression our independent variable is year and our dependent variable is average manufacture year

In [32]:
# in MT dataset our year is between 2009 up to 2016
X = []
y = []
for year in range(2009, 2017):
    X.append([year])
    y.append(stop_manufacture[stop_manufacture['stop_date'].str.contains(str(year))]['vehicle_year'].mean())

In [33]:
# our features(1D feature)
X

[[2009], [2010], [2011], [2012], [2013], [2014], [2015], [2016]]

In [34]:
# our labels
y

[2000.980214841609,
 2001.5194096617815,
 2001.3998724489795,
 2003.903702500812,
 2003.9051753039366,
 2004.482506498636,
 2005.295766909687,
 2005.8721284934402]

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
reg = LinearRegression().fit(X, y)
print(f'prediction of average manufacture year of vehicles stopped in MT in 2020: {reg.predict(np.array([[2020]]))[0]}')

prediction of average manufacture year of vehicles stopped in MT in 2020: 2008.9890039354352

### now we compute p-value of coefficient

In [37]:
from sklearn.feature_selection import f_regression

In [38]:
stat = f_regression(X, y)

In [39]:
print(f'p-value of regressor: {stat[1][0]}')

p-value of regressor: 8.912349420603735e-05

# 6. The difference in the total number of stops that occurred between min and max hours in both MT and VT

# 7. The area in sq. km of the largest county in MT?
    1. we must use an external dataset that includes montana statistics

In [40]:
montana_stats = pd.read_csv(montana_stat_location)
montana_stats.head(5)

,County,FIPS code[1],County seat[2],Est.[2],Origin,Etymology,Population[3],Area,Map
0,Beaverhead County,1,Dillon,1864,Original County,"Beaverhead Rock in the Jefferson River, which ...","9,345","5,543 sq mi(14,356 km2)",NaN
1,Big Horn County,3,Hardin,1913,"Rosebud County, Yellowstone County",Bighorn sheep in the area.[5][6],"13,282","4,995 sq mi(12,937 km2)",NaN
2,Blaine County,5,Chinook,1895,Chouteau County,"James G. Blaine (1830-1893), United States Sec...","6,619","4,226 sq mi(10,945 km2)",NaN
3,Broadwater County,7,Townsend,1897,"Jefferson County, Meagher County","Charles A. Broadwater (1840-1892), a pioneer i...","5,667","1,192 sq mi(3,087 km2)",NaN
4,Carbon County,9,Red Lodge,1895,"Park County, Yellowstone County",Coal deposits in the area.[6],"10,399","2,048 sq mi(5,304 km2)",NaN

In [41]:
# we need County and Area columns only
MT_df = montana_stats[['County', 'Area']]
MT_df.columns = ['county_name', 'Area']
# extract only km2 part from Area column
pd.options.mode.chained_assignment = None
MT_df['Area'] = MT_df['Area'].apply(lambda x:int(x[x.find("(")+1:x.find("km2")-1].replace(',', '')))
MT_df.head()

         county_name   Area
0  Beaverhead County  14356
1    Big Horn County  12937
2      Blaine County  10945
3  Broadwater County   3087
4      Carbon County   5304

In [42]:
# next we join mt_dataset dataframe with montana_stats
mt_area = pd.merge(pd.Series(mt_dataset['county_name'].unique(), name='county_name'), MT_df, on='county_name', how='inner')
largest_county = mt_area.iloc[mt_area['Area'].idxmax()]

In [43]:
print(f"Largest county in MT is {largest_county['county_name']} and it's area is {largest_county['Area']} km2")

Largest county in MT is Beaverhead County and it's area is 14356 km2